doctype html
html
  include templates/head.pug
  body
    include templates/menu.pug
    .container.mt-4
      if laptops && laptops.length > 0
        - var productsInRow = 0
        .row
          each laptop, index in laptops
            if productsInRow === 3
              .row
              - productsInRow = 0
            .col-md-4
              .product-card
                img(src=laptop.imgUrl, alt=laptop.name, width="200", height="200")
                h3(style="font-size: 1rem;")= laptop.name
                p(style="font-size: 0.8rem;") Cena: $#{laptop.price}
                a.btn.btn-primary(href=`/api/laptops/${laptop.id}`) Kup teraz
                if isAdmin
                  a.btn.btn-danger(href=`/api/laptops/delete/${laptop.id}`) Usuń
                  a.btn.btn-warning(href=`/api/laptops/edit/${laptop.id}`) Edytuj
            - productsInRow++
      else
        .text-center(display="flex", justify-content="center", align-items="center", height="80vh")
          h1(display="inline-block", style="font-size: 3rem;") Brak danych do wyświetlenia
      if isAdmin
        .row
          .col-md-12.text-center
            a.btn.btn-success(href="/addlaptop") Dodaj laptop
